#loginRegisterDiv {

    border-radius: 20px;

    background-color: aliceblue;
    text-align: center;

    max-width: 500px;
    height: auto;
    
    margin: 0 auto 200px;
    padding: 10px 50px;

    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, .2) ;

}

#controlDiv {
    border-bottom: 3px solid #0178ff;
    width: 70%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.InputBox {
    
    border-radius: 15px;
    outline: 0px;
    border: 2px solid #0178ff;

    width: 100%;
    padding: 10px;
    margin: 10px;

    box-sizing: border-box;

    font-size: 16px;
}

.Button {

    border-radius: 15px;
    outline: 0px;
    border: 0px;

    width: 30%;
    padding: 10px;
    margin: 10px;
    
    box-sizing: border-box;

    font-size: 18px;
    background-color: #0178ff;
    color: white;

    cursor: pointer;
}

.Options {
    border:0px;

    width: 30%;
    margin: 0px 0px;
    padding: 5px;

    display:inline-block;
    vertical-align: middle;  
    box-sizing: border-box;

    font-size: 24px;
    background-color: aliceblue;
    color: #0178ff;

    cursor: pointer;
}

.Options:hover {
    background: #0178ff;
    color: white;
}
